

body{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.781),rgba(15, 28, 36, 0.719));
}
.timer{
    margin-top: 100px;
    box-shadow: 0 4px 3px 3px rgba(0, 0, 0, 0.39);
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(228, 225, 225, 0.52);
}
.son{
    color: white;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.246);
    margin: 20px 0;
    font-size: 50px;
}
.form{
    
    margin-left: 10px;
  
}
label{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.246);
}
.mainForm{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
 
}
.nm{
    font-size: 60px;
}